@import url("wonderland2.css");
/*
dimension les plus vues en web :
px      =>  Pixel
em      =>  cadratin : unité de mesure en print sur les presses
            le cadratin se calcul par rapport à son parent
rem     =>  cadratin racine : se calcul par rapport à la taille racine de police
%       =>  pourcentage, se calcule par rapport à l'élément qui le contient
vw & vh =>  viewport width & viewport height : correspond à la taille 
            d'affichage de la page en largeur et en hauteur
            si affichage en largeur 768px alors 20vw = 153.6 px

si 2em = 32 px, 1em = 16px
si 2rem = 32 px, 1rem = 16px
*/

/* on peut "surcharger" la racine du css de la page */

:root{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    line-height: 1.4rem;
    /* utiliser des variables en CSS */
    --heading-font: 'wonderland2';
    --colonne-1-1: 100%;
    --colonne-1-2: 50%;
    --colonne-1-3: 33%;
    --colonne-2-3: 66%;
    --colonne-1-4: 25%;
    --colonne-3-4: 75%;
    --general-link: #F22233;
    --nav-link-color:#F2EBDC;
    --nav-link-color-bg-hover:#40382A;
    --main-bg-color: #F2EBDC;
    --header-h1-color: #F2EBDC;
    --main-font-color: rgb(33, 37, 41);
    --page-header-bg-color: #736451;
    --main-nav-bg-color: #736451;
    --main-footer-bg-color: #736451;
    --vert-paques: #668C2B;
    --h1-font-color: #F22E3E;
    /*--special-bg: linear-gradient(to bottom, var(--vert-paques), var(--page-header-bg-color) 90%) ,var(--page-header-bg-color);*/
    --special-bg: url('../images/alice-cards-design.jpg') center center no-repeat;
    color: var(--main-font-color);
}

/* déclarations générales */

*, 
*::before,
*::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    letter-spacing: 0.1rem;
}

h1{
    line-height: 2rem;
    margin: 0;
    /*color: var(--h1-font-color);*/
}

a,
a:visited{
    text-decoration: none;
    color: var(--general-link);
    text-transform: uppercase;
}

img{
    max-width: 100%;
}

/* déclarations de classes */

.test-content-box div{
    box-sizing: content-box;
}

.moitie{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    padding: 10px;
}

.deuxEm{
    font-size: 2em;
    border: 1px solid black;
}

.deuxRem{
    font-size: 2rem;
    border: 1px solid black;
}

.h1 {
    display: block;
    font-size: 2rem;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: var(--heading-font);
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

/* déclaration de structure */
body{
    margin: 0;
    background-color: var(--main-bg-color);
}

body > header{
    padding: 1rem;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background:  linear-gradient(to bottom, #668C2B, var(--page-header-bg-color) 90%) ,var(--page-header-bg-color);*/
    background:  var(--special-bg);
    background-size: cover;
}

body > header h1,
body > header .h1{
    color: var(--header-h1-color);
    text-shadow: 0px 0px 5px black;
}

body > nav{
    background-color: var(--main-nav-bg-color);
}

body > nav ul, 
body > footer nav ul{
    list-style-type:none;
    padding: 0;
    line-height: 2rem;
    margin: 0;
}

body > nav ul li:first-child,
body > footer nav ul li:first-child
{
    border-top: 1px solid black;
}

body > nav ul li,
body > footer nav ul li{
    border-bottom: 1px solid black;
}

body > nav ul a,
body > footer nav ul a,
body > nav ul a:visited,
body > footer nav ul a:visited
{
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--nav-link-color);
}

body > nav ul a:hover,
body > nav ul a:focus,
body > footer nav ul a:hover,
body > footer nav ul a:focus{
    background-color: var(--nav-link-color-bg-hover);
    color: white;
}

body > main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


body > footer{
    padding: 1rem;
    background-color: var(--main-footer-bg-color);
}


/* media queries pour l'adaptatif */

@media (min-width: 576px){

    .nav-center{
        margin-left: auto;
        margin-right: auto;
    }

    body > main,
    .nav-center{
        width: 540px;
    }

    body > nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body > nav ul li, 
    body > nav ul li:first-child{
        border: unset;
    }

    .colonne-footer{
        width: var(--colonne-1-2);
    }

    body > footer > nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

@media (min-width: 768px){
    body > main,
    .nav-center{
        width: 720px;
    }

    .colonne-footer{
        width: var(--colonne-1-3);
    }
}

@media (min-width: 992px){
    body > main,
    .nav-center{
        width: 960px;
    }
}

@media (min-width: 1200px){
    body > main,
    .nav-center{
        width: 1140px;
    }
}

@media (min-width: 1400px){
    body > main,
    .nav-center{
        width: 1320px;
    }
}

@media (min-width: 1600px){
    body > main,
    .nav-center{
        width: 1500px;
    }
}