@import url("wonderland2.css");
/*
dimension les plus vues en web :
px      =>  Pixel
em      =>  cadratin : unité de mesure en print sur les presses
            le cadratin se calcul par rapport à son parent
rem     =>  cadratin racine : se calcul par rapport à la taille racine de police
%       =>  pourcentage, se calcule par rapport à l'élément qui le contient
vw & vh =>  viewport width & viewport height : correspond à la taille 
            d'affichage de la page en largeur et en hauteur
            si affichage en largeur 768px alors 20vw = 153.6 px

si 2em = 32 px, 1em = 16px
si 2rem = 32 px, 1rem = 16px
*/

/* on peut "surcharger" la racine du css de la page */

:root{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    line-height: 1.4rem;
    /* utiliser des variables en CSS */
    --heading-font: 'wonderland2';
}

/* déclarations générales */

*, 
*::before,
*::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    letter-spacing: 0.1rem;
}

h1{
    line-height: 2rem;
    margin: 0;
}

/* déclarations de classes */

.test-content-box div{
    box-sizing: content-box;
}

.moitie{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    padding: 10px;
}

.deuxEm{
    font-size: 2em;
    border: 1px solid black;
}

.deuxRem{
    font-size: 2rem;
    border: 1px solid black;
}

.h1 {
    display: block;
    font-size: 2rem;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: var(--heading-font);
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

/* déclaration de structure */
body{
    margin: 0;
}

body > header{
    padding: 1rem;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body > nav{

}

/* media queries pour l'adaptatif */

