@font-face {
    font-family: 'wonderland2';
    src: url('fonts/wonderland2.eot');
    src: url('fonts/wonderland2.eot') format('embedded-opentype'),
         url('fonts/wonderland2.woff2') format('woff2'),
         url('fonts/wonderland2.woff') format('woff'),
         url('fonts/wonderland2.ttf') format('truetype'),
         url('fonts/wonderland2.svg#wonderland2') format('svg');
}